@import '../styles/colors.scss';

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $opn-darkgray;
}

.router-container {
    flex: 1;
    overflow: auto;
}

.navigation-bar {
  flex-shrink: 0;
  padding-bottom: env(safe-area-inset-bottom);
}