<div class="ballot-paper-setup-container">
  @if (ballotPaper$ | async) {
    @if (loading) {
      <div class="loading-display">Loading...</div>
    } @else {
      <div class="paper-exists">Wahlschein gefunden.</div>
    }
  } @else {
    @if (loading) {
      <div class="loading-display">Loading...</div>
    } @else {
      <div class="title">Wahlschein erstellen</div>
      <div class="description">
        Erstellen Sie Ihren Wahlschein für die Teilnahme.
      </div>
      <div class="create-button" (click)="createBallotPaper()">Wahlschein erstellen</div>
    }
  }
</div>
