@import '../../styles/sizes.scss';
@import '../../styles/font-weights.scss';
@import '../../styles/colors.scss';

.election-block {
  width: 320px;

  height: 180px;

  background-color: $opn-slategray;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.title-bar {
  min-height: 44px;
height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $text-medium;
  font-weight: $bold;

  background-color: $opn-gray;
  color: $opn-white;

  text-align: center;
  padding: 8px 10px;
  word-break: break-word;
}

.info-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $text-small;
  color: $opn-lightgray;

  padding: 10px;
  text-align: center;
}