<div class="navigation-container">
  <app-navigation-button 
    [iconSize]="24" 
    iconSelected="bi-clock-fill"
    iconUnselected="bi-clock-fill"
    [selected]="isRouteActive('history')"
    (clicked)="selectPath('history')"
    >
  </app-navigation-button>
  <app-navigation-button 
    [iconSize]="24" 
    iconSelected="bi-house-fill"
    iconUnselected="bi-house-fill"
    [selected]="isRouteActive('home')"
    (clicked)="selectPath('home')"
    >
  </app-navigation-button>
  <app-navigation-button 
    [iconSize]="24" 
    iconSelected="bi-person-fill"
    iconUnselected="bi-person-fill"
    [selected]="isRouteActive('user')"
    (clicked)="selectPath('user')"
    >
  </app-navigation-button>
</div>
