@import '../../styles/colors.scss';

:host {
    height: 100px;
    display: flex;
    z-index: 1;
    justify-content: center;
    background-color: $opn-gray;

    .navigation-container {
        width: 100%;
        padding: 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
