@import '../../styles/colors.scss';
@import '../../styles/sizes.scss';

:host {
    box-sizing: border-box;
    height: calc(#{$navbar-height} + env(safe-area-inset-bottom, 0px));
    padding-bottom: env(safe-area-inset-bottom, 0px);
    position: relative;
    display: flex;
    z-index: 1;
    background-color: $opn-lightblue;

    .navigation-container {
        width: 100%;
        padding: 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: top;
        padding-top: 20px;
        justify-content: space-between;
    }
}
