@import '../../styles/font-weights.scss';
@import '../../styles/colors.scss';

:host {
  display: flex;
  color: $opn-darkgray;   /* default = unselected */
  fill: $opn-darkgray;

  .button-container {
    transition: color 0.2s ease, fill 0.2s ease, transform 0.2s ease;
    cursor: pointer;
  }

  .button-container.selected {
    color: $opn-white;
    fill: $opn-white;
  }

  /* optional: kleines Tap-Feedback */
  .button-container:active {
    transform: scale(0.95);
  }

  &.center {
    align-items: center;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.semi-bold .icon {
    font-weight: $semi-bold;
  }

  .icon {
    color: inherit; /* wichtig für Bootstrap Icons */
    fill: inherit;
    height: min-content;
    display: inline-block;
  }
}