<div class="import-backdrop" role="dialog" aria-modal="true" aria-labelledby="import-title">
  <div class="import-dialog">
    <div id="import-title" class="import-title">{{item}} importieren.</div>
      @if(additionalInfo) {
        <div class="additional">{{additionalInfo}}</div>
      }
      <div class="import-text">Wähle eine Option: </div>
      <div class="button" (click)="scanSelected.emit()">
        <i class="bi bi-camera-fill import-button-icon" aria-hidden="true"></i>
        <span>QR-Code scannen</span>
      </div>
      <input
        #importFileInput
        type="file"
        class="import-dialog-file-input"
        [accept]="uploadAccept"
        (change)="onUploadInputChange($event)"
      />
      <div class="button" (click)="importFileInput.click()">
        <i class="bi bi-file-earmark-arrow-up import-button-icon" aria-hidden="true"></i>
        <span>PDF hochladen</span>
      </div>
  </div>
</div>
