<div class="import-backdrop" role="dialog" aria-modal="true" aria-labelledby="import-title">
  <div class="import-dialog">
    <div id="import-title" class="import-title">{{item}} importieren.</div>
      <div class="import-text">Wähle eine Option: </div>
      <div class="button" (click)="scanSelected.emit()">
        <i class="bi bi-camera-fill import-button-icon" aria-hidden="true"></i>
        <span>QR-Code scannen</span>
      </div>
      <div class="button" (click)="uploadSelected.emit()">
        <i class="bi bi-file-earmark-arrow-up import-button-icon" aria-hidden="true"></i>
        <span>PDF hochladen</span>
      </div>
  </div>
</div>
