@import '../../styles/sizes.scss';
@import '../../styles/font-weights.scss';
@import '../../styles/colors.scss';

.voting-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: $title-medium;
        font-weight: $regular;
        margin-top: 12px;
    }

        .election-info {
        font-size: $text-medium;
        width: 90%;
        text-align: center;
        color: $opn-textgray;


        .election-title {
            font-weight: $bold;
            color: $opn-white;
        }
    }

    .notice {
        font-size: $text-medium;
        color: $opn-white;
        margin-top: 12px;
    }

    .description {
        font-size: $text-medium;
        width: 90%;
        margin-bottom: 10px;
        text-align: center;
        color: $opn-textgray;
    }   

    .line {
        width: 100%;
        height: 5px;
        justify-content: center;
        align-items: center;
    }

    .voting-area {
        padding-top: 15px;
        background-color: $opn-slategray;
    }

    .submit-button {
        background-color: $opn-slategray;
        padding: 10px 40px;
        border-radius: 5px;
        margin: 5px 0px 20px 0px;
    }

    .submit-button:disabled {
        background-color: $opn-gray;
    }
}