<div class="registration-container">
  @switch (step$ | async) {
    @case (RegistrationState.MASTERKEY) {
      <app-master-key-setup (createClicked)="onCreateMasterKey()"></app-master-key-setup>
    }

    @case (RegistrationState.SECRET_CREATED) {
      <p>Secret created. proceed to create a ballot</p>
      <button (click)="onProceedToCreateBallot()">go to create ballot</button>
    }
    @case (RegistrationState.BALLOT) {
      <button (click)="onCreateBallot()">create ballot</button>
    }
    @case (RegistrationState.BALLOT_CREATED) {
        <p>Ballot created. Registration complete.</p>
    }
    @case (RegistrationState.READY) {
      
    }
    @case (RegistrationState.ERROR) {
      <p>{{ error }}</p>
    }
  }
</div>
