<div class="vote-key-setup-container">
  @if (voteKey$ | async; as voteKey) {
    @if (loading) {
      <div class="loading-display">Loading...</div>
    } @else {
      <div class="key-exists">Wahlschlüssel gefunden.</div>
    }
  } @else {
    @if (loading) {
      <div class="loading-display">Loading...</div>
    } @else {
      <div class="title">Wahlschlüssel erstellen</div>
      <div class="description">
        Der Wahlschlüssel wird lokal und ohne Internetverbindung auf ihrem Gerät erstellt.
      </div>
      <div class="create-button" (click)="createVoteKey()">Wahlschlüssel erstellen</div>
      <div class="import-button" (click)="importVoteKey()">Sie haben bereits einen Wahlschlüssel?</div>
    }
  }
</div>
