<ion-content>
  <div class="page-container">
    @if (registeredElections.length === 0 && votedElections.length === 0) {
      <p class="empty-state">{{ 'voteHistory.empty' | translate }}</p>
    } @else {
      @if (registeredElections.length > 0) {
        <h2 class="section-heading">{{ 'voteHistory.registered' | translate }}</h2>
        <div class="list-container">
          <app-election-list
            [elections]="registeredElections"
            [showVotingCountdown]="true"
            (electionClicked)="navigateToElection($event)"
          ></app-election-list>
        </div>
      }

      @if (votedElections.length > 0) {
        <h2
          class="section-heading"
          [class.section-heading-spaced]="registeredElections.length > 0"
        >
          {{ 'voteHistory.voted' | translate }}
        </h2>
        <div class="list-container">
          <app-election-list
            [elections]="votedElections"
            (electionClicked)="navigateToElection($event)"
          ></app-election-list>
        </div>
      }
    }
  </div>
</ion-content>
