<div class="management-container">
  @if ((hasMasterKey$ | async) === false) {
    <app-master-key-setup (createClicked)="onCreateMasterKey()"></app-master-key-setup>
  }
  @else {
    <div class="info-container">
      <div class="title">Masterschlüssel vorhanden</div>
      <div class="description">Du hast bereits einen Masterschlüssel erstellt.</div>
      <div class="button-container">
        <div class="delete-button" (click)="onDeleteMasterKey()">
          Masterschlüssel löschen
        </div>
      </div>
    </div>
  }
</div>