@import '../../styles/colors.scss';
@import '../../styles/font-weights.scss';
@import '../../styles/sizes.scss';

.section-description {
    margin-top: 6px;
    color: $opn-lightgray;
    font-size: $text-medium;
    text-align: center;
    opacity: 0.9;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
  margin-bottom: 8px;

  .action-button {
    width: 85%;
    min-height: 44px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 14px;
    font-size: $text-medium;
    font-weight: $regular;
    color: $opn-white;
  }

  .action-button.primary {
    background-color: $opn-lightblue;
  }
}