<div class="question-container">
  @if(question) {
    <div class="title">{{ question.text }}</div>

    <div class="content-row">
      <div class="image-container">
        <app-image 
          [alt]="question.text" 
          [small]="question.imageUrl"
          width="100%"
          height="100%"
          [keepAspectRatio]="true"
          fit="cover"
        ></app-image>
      </div>

      <div class="options-wrapper">
        <app-options 
          [options]="options" 
          [groupname]="question.text"
          [initialSelection]="initialVote"
          (selected)="optionSelected.emit($event)"
        ></app-options>
      </div>
    </div>
  }
</div>