<div class="question-container">
  @if(question) {
    <div class="image-container">
      <app-image 
        [alt]="question.text" 
        [small]="question.imageUrl"
        height="110px"
        ></app-image>
    </div>

    <div class="question">
      <div class="title">{{ question.text }}</div>
      <div class="options-container">
        <app-options 
          [options]="options" 
          [groupname]="question.text"
          (selected)="optionSelected.emit($event)"
        ></app-options>
      </div>
    </div>
  }
  
</div>
