@import '../styles/colors.scss';
@import '../styles/font-weights.scss';
@import '../styles/sizes.scss';

.provider-picker-container {
    width: 100%;
    padding: 22px 16px 32px;

    .provider-group {
        margin-top: 12px;
    }

    .provider-title {
        margin-top: 10px;
    }

    .section-title {
        margin-top: 6px;
        color: $opn-white;
        font-size: $text-medium;
        font-weight: $semi-bold;
        text-align: center;

        .title-with-icon {
            display: inline-flex;
            align-items: center;
            gap: 6px;
        }
    }

    .button-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 12px;
        margin-bottom: 8px;

        .action-button {
            width: 85%;
            min-height: 44px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 14px;
            font-size: $text-medium;
            font-weight: $regular;
            color: $opn-white;
        }

        .action-button.primary {
            background-color: $opn-lightblue;
        }

        .action-button.secondary {
            background-color: $opn-slategray;
        }

        .action-button.danger {
            background-color: $opn-slategray;
        }
    }

    .info-icon {
        color: $opn-lightblue;
        font-size: 14px;
        cursor: pointer;
    }
}