@if(election) {
  <div class="info-container">
    <div class="title-section">
      <div class="title">{{ election.title }}</div>
      <div class="title-divider"></div>
    </div>

    <div class="image-container">
      <app-image
        [small]="election.headerImage.small"
        [large]="election.headerImage.large"
        [takeLarge]="false"
        [alt]="election.title"
      ></app-image>
    </div>

    <div class="description">{{ election.description }}</div>

    @if(!hasEnded) {
      <button class="vote-button" (click)="participateClicked.emit()" [disabled]="!hasStarted">
        @if(hasStarted){
          Jetzt an Wahl teilnehmen
        }
        @else {
          Registrierungsphase beginnt bald!
        }
      </button>
    }
    
  </div>
}