@import '../../styles/sizes.scss';
@import '../../styles/font-weights.scss';
@import '../../styles/colors.scss';

.info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin: 30px 24px;
        font-size: $title-medium;
        font-weight: $bold;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description {
        margin: 30px 24px;
        font-size: $text-medium;
        font-weight: $regular;
    }

    .vote-button {
        margin-top: 30px;
        background-color: $opn-slategray;
        border-radius: 5px;
        padding: 10px;
    }
}