<div class="masterkey-setup-container">
  <div class="title">Masterschlüssel erstellen</div>
  <div class="options-container">
    <div 
      class="create-button" 
      (click)="createMasterKeyClicked()">
      Jetzt Masterschlüssel erstellen
    </div>
    <div class="or-text">oder</div>
    <div 
      class="import-button" 
      (click)="importMasterKeyClicked()">
      Masterschlüssel importieren
    </div>
  </div>
  @if (canSkip) {
    <div class="skip-text">Überspringen</div>
  }
</div>
