@import '../../styles/sizes.scss';
@import '../../styles/font-weights.scss';
@import '../../styles/colors.scss';

:host {
  display: block;
  width: 100%;
}

.no-election-info {
  padding-top: 20px;
  font-size: $text-medium;
  color: $opn-lightgray;
  text-align: center;
}

.overview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.overview-item {
  width: 100%;
  cursor: pointer;
}